body{
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    margin: 20px;
    margin-top: 250px;
    max-width: 100%;
    max-height: 450px;
    justify-content: center;
    gap: 50px;
}
.top, .words, .link, .container, .card{
    display: flex;
}
.words, .card{
    flex-direction: column;
}
.card{
    max-width: 255px;
    max-height: 200px;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(211,211,211, 0.6);
}
.card, .link{
    justify-content: space-between;
}
.top{
    gap: 15px;
}
.icons{
    max-width: 50px;
    max-height: 50px;
    align-items: center;
    padding: 15px;
}
h2, p{
    margin: 2px;
    padding: 2px;
    font-size: 15px;
}
p, span{
    color: grey;
}
